*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.headding{
    background-color: pink;
    border: 2px solid rgb(228, 156, 168);
    text-align: center;
    padding: 10px 1px;
    font-family: 'Nunito', sans-serif;
    margin: 10px;
    border-radius: 15px;
    font-size: 30px;
}

.head2{
    color: rgb(61, 154, 167);
    text-align: center;
    margin-bottom: 15px;
}

.dec{
    border: 2px solid rgb(104, 104, 228);
    background-color: rgb(117, 180, 165);
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    border-radius: 15px;
}

.dec p{
    text-align: center;
}

.vp{
    margin: 0px 10%;
    margin-top: 15px;
    color: rgb(196, 92, 196);
}

video{
    width: 80%;
    margin: 0px 10%;
    margin-top: 20px;
}

.navbar::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 76px;
    z-index: -1;
    background-color: rgb(181, 176, 231);
    opacity: 0.7;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
}

.navbar ul{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 40%;    
}
  
.navbar ul li{
    list-style: none;
    margin: 10px 30px;
    font-size: 16px;
}
  
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold; 
}
  
.navbar ul li a:hover{
    color: rgb(202, 185, 118);
}

.container{
    border: 4px solid rgb(219, 82, 82);
    width: 75%;
    margin: auto;
    background-color: white;
    border-radius: 40px;
}

/* .image{
    display: flex;
} */

.img1{
    /* margin: 20px; */
    width: 100%;
    height: 100%;
    border: 2px solid rgb(218, 218, 128);
}

.img-container{
    justify-content: center;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 60vh 50vh 60vh;
    grid-gap: 30px;
    padding: 20px;
}

.bio{
    margin: 20px;
    padding: 20px;
    background-color: rgba(82, 221, 214, 0.884);
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    width: 70%;
    height: 570px;
    left: 15%;
    /* height: 100vh; */
}

.bio h1{
    text-align: center;
    text-decoration: black underline;   
}

.bio img{
    position: absolute;
    top: 80px;
    right: 10%;
    border: 2px solid rgb(255, 255, 255);
}

.bio ul{
    list-style: none;
    margin-left: 200px;
    padding-top: 20px;
}

.bio ul li{
    font-size: 20px;
    margin-bottom: 5px;
}